<!-- <div class="row">
  <div ng-repeat="team in teams" class="col-md-3">
    <div ng-repeat="player in teams track by $index">
      <div class="card mt-4">
        <div class="row card-body">
          <div class="col-2" style="">
            <img class="card-img-top" style="border-radius: 50%; height: 90px; width: 90px; flex-shrik: 0; background-color: red;"
              src="https://investloop.appgambit.com/images/appgambit-logo.png" alt="Card image cap">
          </div>

          <div class="col-9" style="margin-left: 10px;">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a
              little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->